@font-face {
	font-family: BPG Nino Mtavruli;
	src: url('./fonts/bpg-nino-mtavruli-bold-webfont.ttf') ;
}
@font-face {
	font-family: BPG Ingiri Arian;
	src: url('./fonts/bpg-ingiri-arial-webfont.ttf');
}